.header__nav ul {
  display: flex;
}

.header {
  display: flex;
  align-items: center;
}

.header__title {
  margin-right: 42.97px;
  font-weight: 700;
  font-size: 24.12px;
  line-height: 29.16px;
}

.header__login-button {
  margin-right: 200.29px;
  color: #73738D;
  font-size: 11.09px;
}

.header__nav-item {
  margin-right: 37.42px;
}

.try__it-button {
  font-size: 11.06px;
  width: 118.51px;
  height: 31.88px;
  margin-left: 94.26px;
  border-radius: 34px;
  padding-top: 8.32px;
  padding-bottom: 8.32px;
  color: #1943EF;
  border-color: #1943EF;
  border-style: solid;
  background-color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}

.try__it-button:hover{
  background-color: #1943EF;
  border: none;
  color: white;
}

.header__menu {
  display: none;
  width: 32px;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 10;
    height: 5s0px;
    width: auto;
    background-color: aliceblue;
  }

  .header__login-button {
    display: none;
  }

  .header__nav ul {
    flex-direction: column;
    height: 100%;
    margin: 0;
    padding: 0;
    height: 200px;
    align-items: center;
  }

  .header__title {
    font-size: 20px;
    display: none;
  }

  .try__it-button {
    display: none;
  }

  .header__menu {
    display: block;
  }

  .header__nav {
    background-color: aliceblue;
    position: fixed;
    top: 40px;
    left: 0;
    right: 0;
    bottom: 0;
    margin-top: 0px;
    clip-path: circle(0px at top left);
    transition: clip-path 2s ease-in;
  }

  .header__nav.open {
    clip-path: circle(1000px at top);
  }

  .header_nav_items {
    justify-content: center;
  }

  .header__nav a {
    display: block;
    font-size: 32px;
  }

  .header__nav .header__nav-item {
    margin-right: 0px;
    flex: 1;
  }
}