.catalog h1 {
    justify-content: center;
    display: flex;
}

.catalog-products {
    margin: 0px 170px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 80px;
}

.sort-button {
    width: 150px;
    height: 60px;
    border: 2px solid #171717;
    border-radius: 15px;
    background: #eaeaea;
    font-size: 30px;
    color: #171717;
    margin: 50px;
    font-weight: 500;
    cursor: pointer;
}

.apply-filters-button {
    width: 150px;
    height: 60px;
    border: 2px solid #171717;
    border-radius: 15px;
    background: #eaeaea;
    font-size: 25px;
    color: #171717;
    margin: 50px;
    font-weight: 500;
    cursor: pointer;
}

.sort-catalog {
    justify-content: center;
    display: flex;
    align-items: center;
}

.catalog {
    background:linear-gradient(270deg, #eaeaea, #efefef 80%);
}

.searchproduct {
    display: flex;
    justify-content: center;
    height: 40px;
}

.searchproduct ::placeholder {
    width: 250px;
}

.back-button {
    width: 150px;
    height: 60px;
    border: none;
    border-radius: 15px;
    background: #252525;
    font-size: 20px;
    color: #fff;
    margin: 50px;
    font-weight: 500;
    cursor: pointer;
}

.search-button {
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 7px;
    background: #252525;
    font-size: 20px;
    color: #fff;
    font-weight: 500;
    cursor: pointer;
}

.minprice-input, 
.maxprice-input {
    width: 150px;
    height: 37px;
    border: none;
    border-radius: 7px;
    background: #252525;
    font-size: 17px;
    color: #fff;
    font-weight: 500;
    cursor: pointer;
    margin-left: 5px;
}

.search-form {
    height: 37px;
    border: none;
    border-radius: 7px;
    background: #252525;
    font-size: 17px;
    color: #fff;
    font-weight: 500;
    cursor: pointer;
}